h1, h2{
    font-size: 36px;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;   
    color: rgb(51, 51, 51);
    padding-left: 185px;
}

.title{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
    width: 780px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.header-image{
background-image: url(images/header.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-position: top;
height: 500px;
background-image: linear-gradient(linear-gradient(rgba(0, 0, 0,
.3), rgba(0, 0, 0, .3)),
url(../images/header.jpg));
}

.profile{
    width: 100px;
    border-radius: 100%;
    border-color: white;
    border-image-width: 1px;
    height: 100px;
}

.info-image, .info-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-image{
    position: absolute;
    top: 450px;
    left: 50%;
    right: 50%;
}

.info-text{
    color: rgb(51,51,51);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 60px;
}

div{
    text-align:left;
}


p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    margin:0px 16.665% 0px 16.665%;
    padding-bottom: 20px;
    padding-top: 20px;
}

span{
    color: rgba(0,0,0,0.25);
}


a:link{
    color: #42b4d6;
    text-decoration: none;
    padding-left: 220px;
}

a:hover{
    text-decoration: underline;
}

.images{
    width: 66.7%;
    padding-bottom: 120px;
    padding-left: 220px;
}